*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.env
.idea
.project
.strong-pm
.vscode
.history
coverage
node_modules
npm-debug.log
data.json
log
*.csv
*.json
*.mr2